h2 {
    text-align: center;
    color:rgb(0, 116, 188);
}
p {
    text-align: center;
    font-size: medium;
    font-weight: 300;
}
header {
    text-align: center;
    background:rgb(1, 14, 54);
    background-size: cover;
    color: white;
    }
    ul {
        padding: 10px;
        background: rgba(0,0,0,0.5);
        }
    .linkheader {
        color: white;
        display: inline;
        padding: 0px 10px 0px 10px;
      }
    
    .toplist {
        display: inline;
        padding: 0px 10px 0px 10px;
  
    }
    .topimage {
        margin: 40px 0px 0px 0px;
        border: 7px solid white;
        border-radius: 20px;
      }
      .toplink {
        color: white;
      }
      .oogabooga {
        text-align: center;
        margin: 40px 0px 0px 0px;
        border: 7px solid rgb(68, 255, 174);
        border-radius: 20px;    
      }
      .otherlink {
        color: aquamarine;
      }
